.Top {
    background-color: #1F2937;
    display: flexbox;
    font-family: Roboto;
    padding-left: 200px;
    padding-right: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.links {
    font-size: 18px;
    display: flex;
    color: #E5E7EB;
    font-weight: 100;
    gap: 30px;
}

.leftrightcontainer {
    display: flex;
}

.right {
    display: flex;
}